.container {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px; 
}
.links a {
  color: #676768;
  border-bottom: 3px solid #19c4ca;
  margin-left: 20px;
  font-weight: bold;
}

.links a:hover {
  color: #19c4ca;
}

.img-tabela {
  display: flex;
  width: 100%;
}


.img-tabela img {
  width: 30%;
  height: auto;
}

.img-tabela table{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.img-tabela tr th {
  background-color: #19c4ca;
  color: white;
  padding: 10px;
}

.img-tabela tr td{
  padding: 20px 10px;
}

.img-tabela tr:nth-child(odd) {
  background-color: #cdcdcd;
}

.img-tabela tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* responsivo */
/* até 768px */
@media (max-width: 768px) {
  .container { 
    width: 100%;
  }

  .links a {
    margin-bottom: 10px;
  }

  .titulo-paragrafo p{
    width: 90%;
    margin: 0 auto;
  }

  .img-tabela table {
    width: 95%;
    margin: 0 auto;
  }

  .img-tabela img {
    display: none;
  }
}

/* até 425px */
@media (max-width: 425px) {
  .img-tabela table {
    width: 100%;
  }

  .titulo {
    margin: 0px;
  }
}
