* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: Source Sans Pro, sans-serif;
  box-sizing: border-box;
}

body {
  color: #676768;
  font-size: 20px;
}

header { 
  background-color: #03c9cf;
}

.container {
  width: 100%;
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.topo {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.link-topo ul {
  display: flex;
}

.link-topo a {
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  transition: all 0.3s;
}

.link-topo li a:hover {
  background-color: white;
  color: #03c9cf;
  
}

.principal {
  width: 1024px;
  margin: 0 auto;
}

.secao-principal {
  background-image: url("../assets/recepcao.png");
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
}

.secao-principal h1 {
  color: white;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 20px;
}

.titulo-paragrafo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.titulo-paragrafo h2,
.titulo-paragrafo h3 {
  padding-top: 50px;
}

.titulo-paragrafo p {
  padding: 20px 0;
  text-align: center;
  width: 65%;
}

.foto-titulo-lista {
  display: flex;
  margin: 40px 0;
  align-items: center;
  justify-content: center;
}

.titulo-lista {
  margin: 0 20px;
}

.titulo-lista h3 {
  padding: 20px 0;
  text-transform: uppercase;
  font-weight: 400;
}

.titulo-lista ul {
  margin-left: 40px;
}

.titulo-lista li {
  list-style-type: disc;
}

.galeria-fotos {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  justify-content: space-around;
  
}

.galeria-fotos figure {
  margin: 0 20px;
  width: calc(100% / 3 - 40px);
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.3);
}


.galeria-fotos figure figcaption {
  text-align: center;
  padding: 10px 0;
}

.container-botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.container-botao a {
  padding: 10px 20px;
  color: white;
  border-radius: 3px;
  background-color: #03c9cf;
  text-transform: uppercase;
  transition: all 0.5s;
}

.container-botao a:hover {
  color: #104a4d;
}

footer {
  background-color: #205067;
  margin-top: 70px;
}

.rodape {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.rodape p {
  color: white;
  font-size: 0.8em;
  text-align: center;
  padding: 10px 0;
}

/* responsivo */

/* até 1024px */
@media (max-width: 1024px) {
  .secao-principal {
    height: 400px;
  }
  .topo {
    width: 100%;
  }
  .topo img {
    margin-left: 10px;
  }
  .principal {
    width: 100%;
  }
  .secao-principal {
    height: 300px;
  }
  .foto-titulo-lista img {
    display: none;
  }
  .rodape {
    width: 100%;
  }
}

/* até 768px */
@media (max-width: 768px) {
  .topo {
    width: 100%;
  }
  .topo img {
    margin-left: 10px;
  }
  .principal {
    width: 100%;
  }
  .secao-principal {
    height: 300px;
  }
  .foto-titulo-lista img {
    display: none;
  }
  .galeria-fotos figure {
    width: calc(100% / 2 - 40px);
    margin-bottom: 40px;
  }
  .rodape {
    width: 100%;
  }
}

/* até 425px*/
@media (max-width: 425px) {
  body {
    font-size: 16px;
  }
  .topo {
    flex-direction: column;
    width: 100%;
  }
  .link-topo::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #0e8f94;
    margin: 20px 0;
  }

  .link-topo ul {
    margin-bottom: 10px;
  }
  .principal {
    width: 100%;
  }
  .secao-principal {
    height: 200px;
  }
  .secao-principal h1 {
    font-size: 1.5em;
  }
  .foto-titulo-lista img { 
    display: none;
  }
  .galeria-fotos figure {
    width: calc(100% - 40px);
    margin-bottom: 40px;
  }
  .rodape {
    width: 100%;
  }
}
